 body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
 
 span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
#guide{  color: rgb(23, 22, 22);
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 0px;
    
}
   #status {
        color: #28a745;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .a {
        color: #007bff;
        text-decoration: none;
        font-size: 1.1rem;
        transition: color 0.3s ease;
    }

    .a:hover {
        color: #0056b3;
    }
    .button {
        background-color: #007bff;
        color: white;
        padding: 12px 24px;
        font-size: 1.1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;
    }

   .button:hover {
        background-color: #0056b3;
    }

    table {
        margin-top: 30px;
        border-collapse: collapse;
        width: 90%;
        max-width: 1000px;
    }

    th,
    td {
        padding: 12px;
        text-align: center;
        border: 1px solid #ccc;
    }

    th {
        background-color: #f8f9fa;
        color: #333;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #e9ecef;
    }
    #csv-table {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #filter-form {
        margin-top: 30px;
        width: 80%;
        max-width: 500px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
.label {
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    color: #333;
    margin-right: 10px;
    display: inline-block;
}
select {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #333; 
    border-radius: 5px;
    margin: 10px;
}
select:hover, select:focus {
    background-color: #ccd3da;}

select option {
   
    background-color: #ffffff;  
     color: rgb(0, 0, 0);
     padding: 10px;
}
#Level{
    margin-right: 20px;
}
#filter{
    margin-left: 20px;
}
pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -15px;
    margin-bottom: 10px;
    background-color: #f1f3f5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 80%;
    max-width: 800px;
    text-align: left;
}
h2,#guide{
    color: #2c3e50;
    margin-bottom: 15px;
    font-weight: 600;
}