<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/plot.css')}}">
    <title>plot.html</title>
</head>

<body>
    <div class="image-container">
        <img src="{{ url_for('static', filename='plot_plot.png') }}" alt="plot Chart">
         <a href="/static/plot_plot.png" id="line_plot" style="color: black;">Click here to download image of Lineplot</a>
        </div>
         <div class="image-container">
    <img src="{{ url_for('static', filename='pie_plot.png') }}" alt="Pie Chart">
    <a href="/static/pie_plot.png" id="pie-plot" style="color: black;border-width: 2px ;">Click here to download image of pie chart</a>
</div>
    <div class="image-container">
    <img src="{{ url_for('static', filename='hist_plot.png') }}" alt="Histogram Chart">
   <a href="/static/hist_plot.png" id="bar-plot"style="color: black;">Click here to download image of Bar_graph</a>
</div>
   

    <form method="POST" action="/submit">
        <label for="text">Start Time:</label>
        <input type="text" name="sdt" placeholder="[Sun Dec 04 04:47:44 2005]">
        <label for="text">End Time:</label>
        <input type="text" name="edt" placeholder="[Mon Dec 05 19:15:57 2005]">                
        <input type="submit" value="Submit">
      </form>
</body>
</html>