<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/plotter.css')}}">
    <title>graph plotter</title>
</head>

<body>
    <form action="/graph_plotter" method="POST"> 
        <h3>Write ur python code below!</h3>
        <textarea id="text-box" name="text-box" rows="15" cols="70" >{{code}}</textarea><br><br><br>
        <button type="submit">Run</button>
    </form>
    <img src="{{ url_for('static', filename='empty_plot.png') }}" id="img-plot" alt="Plot" style="display: none;margin-top: 5px;">
</body>
<script>
    Plot_url="{{plot_url}}";                                                                                                                                                                                                                                            
    console.log(Plot_url,"is the plot_url");
    // console.log(code,"code is this")
    img=document.getElementById("img-plot");
    textBox=document.getElementById("text-box");
    if(Plot_url){
        img.src=Plot_url;
        img.style.display="block";               
         }
     else{
        img.style.display="none"
     }   
    
</script>
</html> 